<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:r="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	    http://www.springframework.org/schema/data/jpa
	    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd" >

	<!-- Database / Persistence-->
	

    <!-- this lets you use annotations to define the scope of a transaction -->
    <tx:annotation-driven />

    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager"
        p:sessionFactory-ref="sessionFactory" />

    <bean id="karmakashDao"
        class="org.give3.dao.KarmaKashDaoDefault"
        p:sessionFactory-ref="sessionFactory"/>
        
    <bean id="itemDao"
        class="org.give3.dao.ItemDaoDefault"
        p:sessionFactory-ref="sessionFactory"/>

    <bean id="personDao"
        class="org.give3.dao.DefaultPersonDao"
        p:sessionFactory-ref="sessionFactory"/>
        
    <bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />

    
</beans>
